*{
  padding:0px;
  margin:0px;
}
img{display: block;}
ul li{
  list-style: none;
}
body{
    background:#fff;
    font-size:100%;
    font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    position: relative;
    overflow-x: hidden;
    height:100vh;
    width:100%;
}
html{
    width:100%;
    overflow-x:hidden;
}
.main-black{
  width:100%;
  height:100%;
  background: #eaeaea;
  position: fixed;
  top:0px;
  bottom:0px;
  z-index:3;
  display: none;
}
.global{
  width:100%;
  height:100%;
  overflow: hidden;
}
.global img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.global-long{
  width:100%;
  height:100%;
  overflow: hidden;
  overflow-y: auto;
}
.global .glink{
  display: block;
  position: absolute;
  width: 90%;
  height: 15rem;
  bottom: 2rem;
  left: 50%;
  margin-left: -45%;
}
.global-long .glink{
  display: block;
  position: absolute;
  width: 90%;
  height: 15rem;
  bottom: 2rem;
  left: 50%;
  margin-left: -45%;
}
.global-long .gbtn{
  display: block;
  position: absolute;
  width: 50%;
  height: 4rem;
  bottom: 3rem;
  left: 50%;
  margin-left: -25%;
}
.global-long img{
  width:100%;
}
.small{
  font-size:14px;
  text-align: left;
}
.main{
  width:100%;
  height:100%;
  overflow: hidden;
}
.q-main{
  width:100%;
  height:100%;
}
/* 头部 */
.q-main .header{
  width:100%;
  height:5vh;
  background: #eaeaea;
  opacity: 0.4;
}
.q-main .content{
  width:100%;
  height:100%;
}
.content .content-rotZ,.DrotZ,.DrotZ-back{
  width:100%;
  height:100%;
}
.content-rotZ{
  perspective: 1000px;
  position: relative;
}
/* 首页 */
.main-index{
  width:100%;
  height:100vh;
  background: #f5f5f5;
}
.main-index .index-img{
  width:100%;
}
.index-img .iimg{
  width:100%;
  height:30vh;
  object-fit: cover;
  display: block;
}
.main-index .index-content{
  width:100%;
  height:65vh;
}
.index-content .content{
  width:100%;
  height:100%;
  overflow-y: auto;
}
.arrow{
  position: fixed;
  left:50%;
  margin-left:-26px;
  bottom:5vh;
  width:52px;
  height:26px;
  z-index:2;
  background: #fff;
  background: url('../img/sliper-bg.png') no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
}
.long-arrow{
  position: absolute;
  left:50%;
  margin-left:-26px;
  bottom:0px;
  width:52px;
  height:26px;
  z-index:2;
  background: #fff;
  background: url('../img/sliper-bg.png') no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
}
.arrow .slarrow,.long-arrow .slarrow{
  width:14px;
  position: absolute;
  bottom:6px;
  left:50%;
  margin-left:-7px;
  -webkit-animation: arrowMove 1s infinite;
  -o-animation: arrowMove 1s infinite;
  animation: arrowMove 1s infinite;
}
.main-index .index-jd{
  width:100%;
  height:5vh;
  background: #2d2e33;
  position: fixed;
  bottom:0px;
  left:0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.index-jd .empty-line{
  width:80%;
  height:6px;
  background: #000;
  position: relative;
  border-radius: 4px;
}
.empty-line .jd-line{
  width:0%;
  height:100%;
  background: #786652;
  border-radius: 4px;
  position: absolute;
  left:0px;
  top:0px;
}
.index-jd .process{
  width:15%;
  color:#fff;
  font-size:16px;
  text-align: center;
}
.content .content-title{
  padding:20px 0px;
  font-weight:600;
  font-size:18px;
}
.content-title .content-dtitle{
  width:70px;
  text-align: center;
}
.content .ml{
  width:100%;
  padding:50px 0px 15px 0px;
  position: relative;
  font-size:16px;
}
.ml .ml-bottom{
  width:70px;
  height:100%;
  position: absolute;
  left:0px;
  top:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ml .ml-line{
  width:4px;
  height:100%;
  background: #000;
  position: relative;
}
.ml .ml-cir{
  width:12px;
  height:12px;
  border-radius: 50%;
  background: #000;
}
.cir{
  width:100%;
  height:70px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cir .cir-line{
  width:70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ml-cir1{
  width:12px;
  height:12px;
  border-radius: 50%;
  background: #000;
}
.cir .ml-desc{
  width:80%;
  font-size:14px;
  color:#999;
}
.ml .ml-title{
  width:50%;
  position: absolute;
  left:70px;
  top:-15px;
  font-size:14px;
  color:#999;
}
.ml .ml-list{
  width:100%;
  position: relative;
  z-index:1;
}
.ml-list .list-item{
  padding:8px 0px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom:15px;
}
.list-item .list-item-head{
  width:85%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list-item .list-item-log{
  width:70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list-item .list-item-log .list-item-img{
  width:40px;
  height:auto;
}
.list-item-acimg{
  width:40px;
  height:auto;
  display: none;
}
.acimg{
  display: block;
}
.list-item-more{
  width:15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list-item-more .list-item-arrow{
  width:20px;
  height:auto;
}
/* 翻转前后 */
.rotz{
  animation:rotZ 0.85s ease-out forwards;
  -webkit-animation:rotZ 0.85s ease-out forwards;
}
.rotz-back{
  animation:rotZ-back 0.85s ease-out forwards;
  -webkit-animation:rotZ-back 0.85s ease-out forwards;
}
.rotz-ori{
  animation:rotZ-ori 0.85s ease-out forwards;
  -webkit-animation:rotZ-ori 0.85s ease-out forwards;
}
.rotz-back-ori{
  animation:rotZ-back-ori 0.85s ease-out forwards;
  -webkit-animation:rotZ-back-ori 0.85s ease-out forwards;
}
.DrotZ{
  position: absolute;
  top:0px;
  left:0px;
  z-index:2;
  background: url('../img/qbg.png') no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
  transform: rotate(0deg);
}
.DrotZ .DrotZ-content,.DrotZ-back .DrotZ-content{
  padding:20px 30px;
}
.DrotZ-content .DrotZ-title{
  font-size:25px;
  font-weight: 600;
  color:#000;
  letter-spacing: 1px;
  margin:15px 0px;
}
.DrotZ-content .DrotZ-que{
  width:100%;
  margin-top:3rem;
  height:14rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  line-height:1.875rem;
}
.DrotZ-que img{
  width:94%;
  height:auto;
  max-height: 14rem;
  object-fit: cover;
  position: absolute;
  top:0px;
  left:50%;
  margin-left:-47%;
}
.DrotZ-que .D-question{
  width:76%;
  position: relative;
  z-index:1;
  left:50%;
  margin-left:-38%;
}
.DrotZ-content .DrotZ-options{
  width:100%;
  margin-top:50px;
}
.DrotZ-options .D-item{
  padding: 18px 8px;
  font-size: 16px;
  background: rgba(255,255,255,0);
  border: 1.5px solid #000;
  color: #000;
  margin-top: 20px;
}
.DrotZ-right{
  padding:25px 0px;
  font-size:18px;
}
.DrotZ-error{
  padding:25px 0px;
  font-size:18px;
  display: none;
}

.DrotZ-ierror{
  padding:25px 0px;
  font-size:20px;
  display: none;
}
.DrotZ-Ychoos{
  width:100%;
  font-size:14px;
  padding:10px 0px;
}
.DrotZ-Ychoos .Yc{
  text-align: left;
  font-size:16px;
  padding:5px 20px;
}
#right{
  display: none;
}
.chos-right{
  color:rgb(45,165,105);
}
.DrotZ-logo{
  width:100%;
  position: absolute;
  bottom:20px;
  left:0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.DrotZ-logo img{
  height:35px;
  width:auto;
}
.DrotZ-button{
  width:100%;
  text-align: center;
  margin-top:1.5rem;
}
.DrotZ-button button{
  width:75%;
  height:50px;
  background: #000;
  color:#fff;
  outline: none;
  border:none;
  font-size:18px;
}
.DrotZ-finish{
  display: none;
}
.DrotZ-back{
  position: absolute;
  top:0px;
  left:0px;
  background: url('../img/qbg.png') no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
  transform: rotate(-180deg);
}
.DrotZ-bdetail{
  width:100%;
  height:65vh;
  background: rgba(255,255,255,0.8);
}
.DrotZ-success{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.DrotZ-success img{
  width:auto;
  height:55px;
  margin-top:4.5rem;
}
.i-error{
  display: none;
}
/* 尾部 */
.q-main .footer{
  width:100%;
  height:5vh;
  background: #eaeaea;
  opacity: 0.4;
}


/* 嵌套页 */
.redetail{
  width:100%;
  height:100%;
  position: absolute;
  background: #fff;
  left:100%;
  top:0px;
  z-index:4;
}
.redetail .redetail-header{
  width:100%;
  height:5vh;
  background: #f5f5f5;
}
.redetail-header .rehead-content{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  color:#999;
  font-size:14px;
}
.rehead-content .red-back{
  width:20px;
  height:auto;
  position: absolute;
  left:5px;
}
.rehead-content .rehead-title{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redetail .redetail-content{
  width:100%;
  height:95vh;
  background: #fff;
  overflow: hidden;
}
.swiper-wrapper .special-slide {
  width:100%;
  height:95vh;
}
.special-slide .reindex{
  width:100%;
  height:100%;
  background: url('../img/bg.png') no-repeat;
  background-size:12rem auto;
  background-position: left top;
}
.reindex .reindex-content{
  padding:5rem 0rem 0rem 0rem;
}
.reindex-title{
  width:100%;
  text-align: center;
}
.reindex-title h3{
  font-weight:normal;
  padding:3px 0px;
}
.reindex-img{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:1rem 0rem;
}
.reindex-img img{
  height:15rem;
}
.reindex-desc{
  width:100%;
  font-size:1.1rem;
  text-align: center;
  margin-top:1rem;
}
.reindex-btn{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:2rem;
}
.reindex-btn .reindexbtn{
  width:75%;
  height:4rem;
  background: rgb(247,208,191);
  border-radius: 4px;
  color:#fff;
  outline: none;
  border:none;
  font-size:16;
}
.reindex-desc .desc-detail{
  padding:0.5rem 0rem;
}
.redetail .redetail-footer{
  width:100%;
  height:5vh;
  background: #f5f5f5;
  display: none;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.redetail-footer .left-icon,.redetail-footer .right-icon{
  width:10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redetail-footer .left-icon img,.redetail-footer .right-icon img{
  width:50%;
  height:auto;
}
.redetail-footer .right-icon .rede-quit{
  display: none;
}
.redetail-footer .redetail-process{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.redetail-process .rede-emline{
  width:100%;
  height:4px;
  border-radius: 4px;
  background: #d4d4d4;
  position: relative;
}
.rede-emline .redeline{
  position: absolute;
  width:0%;
  background: #555;
  height:100%;
  border-radius: 4px;
  left:0px;
  top:0px;
}
.redetail-process .rede-word{
  font-size:14px;
  margin-top:3px;
}
.ver-tic{
  width:100%;
  height:100%;
}
.ver-child{
  width:100%;
  height:90vh;
}


/* 内容页 */
.vert {
  width: 100%;
  height: 100%;
}
.detail{
  width:100%;
  height:100%;
  position: absolute;
  background: #fff;
  left:100%;
  top:0px;
  z-index:4;
}
.detail .detail-header{
  width:100%;
  height:5vh;
  background: #f5f5f5;
}
.detail-header .head-content{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  color:#999;
  font-size:14px;
}
.head-content .d-back{
  width:20px;
  height:auto;
  position: absolute;
  left:5px;
}
.head-content .head-title{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.detail .detail-footer{
  width:100%;
  height:5vh;
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.detail-footer .left-icon,.detail-footer .right-icon{
  width:10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.detail-footer .left-icon img,.detail-footer .right-icon img{
  width:50%;
  height:auto;
}
.detail-footer .right-icon .de-quit{
  display: none;
}
.detail-footer .detail-process{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.detail-process .de-emline{
  width:100%;
  height:4px;
  border-radius: 4px;
  background: #d4d4d4;
  position: relative;
}
.de-emline .deline{
  position: absolute;
  width:33.3%;
  background: #555;
  height:100%;
  border-radius: 4px;
  left:0px;
  top:0px;
}
.detail-process .de-word{
  font-size:14px;
  margin-top:3px;
}
.detail .detail-content{
  width:100%;
  height:95vh;
  background: #fff;
}
.hor{
  width:100%;
  height:100%;
}
.finish{
  width:100%;
  height:100%;
  position: absolute;
  background: url('../img/finish-bg.png') no-repeat;
  background-size: cover;
  top:0px;
  left:100%;
  z-index:4;
}
.finish .finish-content{
  padding:35px 30px;
}
.finish-content .finish-word{
  width:100%;
  height:70vh;
  background: rgba(255,255,255,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size:18px;
}
.fsuccess img{
  width:70px;
}
.finish-word .fword{
  margin-top:30px;
  margin-bottom:60px;
}
.finish-word .fword p{
  text-align: center;
}
.finish .finish-btn{
  width:100%;
  height:110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.finish-btn button{
  width: 175px;
  height: 55px;
  font-size: 18px;
  line-height: 55px;
  background: #000;
  color:#fff;
  outline: none;
  border:none;
}


/* .qfinish{
  width:100%;
  height:100%;
  position: absolute;
  background: url('../img/qbg.png') no-repeat;
  background-size: cover;
  top:0px;
  left:0px;
  z-index:4;
} */
.qfinish{
  width:100%;
  height:100%;
  background: url('../img/qbg.png') no-repeat;
  background-size: cover;
}
.qfinish .qfinish-content{
  padding:35px 30px;
}
.qfinish-content .qfinish-word{
  width:100%;
  height:70vh;
  background: rgba(255,255,255,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size:18px;
}
.qfsuccess img{
  width:70px;
}
.qfinish-word .qfword{
  margin-top:30px;
  margin-bottom:60px;
}
.qfinish-word .qfword p{
  text-align: center;
}
.qi-f{
  display: none;
}
.q-f{
  display: none;
}
.qfinish .qfinish-btn{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.qfinish-btn button{
  width: 75%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  background: #000;
  color:#fff;
  outline: none;
  border:none;
}
.q-contiune{
  display: none;
}
